<%= render 'devise/sessions/hdline' %>

<div class="abpgbigbox">
	<div class="abpgbox">
		<div>
		<h1>Welcome <strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>!!</h1>
		<h6 class=" trstxt"><strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>へようこそ!!</h6>
		</div>
		<div class="abpgabb">
		<h3>In<strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>,<br>you can share and exchange your opinions , inpressions , and emotons<br> about various books!</h3>
		<h6 class="trstxt"><strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>では、<br>さまざまな書籍に関するあなたの意見や印象を<br>共有し交換することができます。</h6>
		</div>
	</div>
</div>

<%= render 'devise/sessions/footer' %>