<%= render 'devise/sessions/hdline' %>

<div class="tppgbigbox">
	<div class="tppgbox">
		<div class="tppgtitle">
		<h2>Welcome to <strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>!!</h2>
		</div>
		<div class="tppgabb">
		<p>In<strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>,<br>you can share and exchange your opinions , inpressions , and emotons<br> about various books!</p>
		</div>
		<div class="tppglinks">
			<div class="tppglgin"><%= link_to 'Log in',"users/sign_in" %></div>
			<div class="tppgsgup"><%= link_to 'Sign UP',"users/sign_up" %></div>
		</div>
	</div>
</div>

<%= render 'devise/sessions/footer' %>