<div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 btn-sm btn-info text-dark text-center"><%= link_to 'Log in',"users/sign_in" %></div>
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 btn-sm btn-success text-dark text-center"><%= link_to 'Sign UP',"users/sign_up" %></div>
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
		</div>
	</div>