<%= render 'shared/hdline' %>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h1>Welcome <strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>!!</h1>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h4 class=" trstxt"><strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>へようこそ!!</h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h3>In<strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>,<br>you can share and exchange your opinions , inpressions , and emotons<br> about various books!</h3>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h4 class="trstxt"><strong><span class="glyphicon glyphicon-book glp3" aria-hidden="true"></span>Bookers</strong>では、<br>さまざまな書籍に関するあなたの意見や印象を<br>共有し交換することができます。</h4>
	</div>
</div>

<%= render 'shared/footer' %>